<%= javascript_include_tag "home" %>
<%= include_gon %>

<h1>Technician Schedule</h1>
<div class="media">
  <div class="media-body">
    <table class = "table table-hover">
      <thead>
        <tr>
          <th>10/1/19 </th>
          <% @technicians.each do |tech| %>
            <th><%= tech.name %></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
      <tr>
      <% @work_order.each do |w| %>
          <th width="200px"><%= w.time.beginning_of_hour.to_s(:due_time)%></th>
          <% if w.technician_id ==1 %>
            <td onclick="schedAlert(<%= w.id %>)"><%= w.time.to_s(:due_time)%><br>Location: <%= w.location.name%>, <%= w.location.city %><br>Price: $<%= w.price %></td>
          <% else %>
            <td onclick="availAlert(<%= w.technician_id %>)"> </td>
          <% end %>
          <% if w.technician_id ==2 %>
            <td onclick="schedAlert(<%= w.id %>)"><%= w.time.to_s(:due_time)%><br>Location: <%= w.location.name%>, <%= w.location.city %>, Price: $<%= w.price %></td>
          <% else %>
            <td onclick="availAlert()"> </td>
          <% end %>
          <% if w.technician_id ==3 %>
            <td onclick="schedAlert(<%= w.id %>)"><%= w.time.to_s(:due_time)%><br>Location: <%= w.location.name%>, <%= w.location.city %><br>Price: $<%= w.price %></td>
          <% else %>
          <td onclick="availAlert()"> </td>
            <% end %>
          <% if w.technician_id ==4 %>
            <td onclick="schedAlert(<%= w.id %>)"><%= w.time.to_s(:due_time)%><br>Location: <%= w.location.name%>, <%= w.location.city %><br>Price: $<%= w.price %></td>
          <% else %>
            <td onclick="availAlert()"> </td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
  
<% @time_of_day.each do |t| %>
  <%= t %>
<% end %>


