<h1>Schedule</h1>
<table>
  <thead>
    <tr>
      <th>10/1/19 </th>
      <% @technicians.each do |tech| %>
      <th><%= tech.name %></th>
      <% end %>
    </tr>
  </thead>

  <tbody
    <tr>
  <% @work_order.each do |order| %> 
      <td><%= order.time.beginning_of_hour.to_s(:due_time)%></td>
      <td><%= order.time.to_s(:due_time)%> Technician id: <%= order.technician_id %>, Location: <%= order.location.name%>, <%= order.location.city %>, Duration: <%= order.duration %>, Price:<%= order.price %></td>
      <td><%= order.time.to_s(:due_time)%> Technician id: <%= order.technician_id %>, Location: <%= order.location.name%>, <%= order.location.city %>, Duration: <%= order.duration %>, Price:<%= order.price %></td>
      <td><%= order.time.to_s(:due_time)%> Technician id: <%= order.technician_id %>, Location: <%= order.location.name%>, <%= order.location.city %>, Duration: <%= order.duration %>, Price:<%= order.price %></td>
      <td><%= order.time.to_s(:due_time)%> Technician id: <%= order.technician_id %>, Location: <%= order.location.name%>, <%= order.location.city %>, Duration: <%= order.duration %>, Price:<%= order.price %></td>
    </tr>
  <% end %>
  </tbody>
</table>

  