<h1>Schedule</h1>
<div class="media">
  <div class="media-body">
    <table class = "table table-hover">
      <thead>
        <tr>
          <th>10/1/19 </th>
          <% @technicians.each do |tech| %>
            <th><%= tech.name %></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
      <tr>
      <% @work_order.each do |w| %>
          <th width="200px"><%= w.time.beginning_of_hour.to_s(:due_time)%></th>
          <% if w.technician_id ==1 %>
            <td><%= w.time.to_s(:due_time)%> Technician id: <%= w.technician_id %>, Location: <%= w.location.name%>, <%= w.location.city %>, Duration: <%= w.duration %>, Price:<%= w.price %></td>
          <% else %>
            <td> </td>
          <% end %>
          <% if w.technician_id ==2 %>
            <td><%= w.time.to_s(:due_time)%> Technician id: <%= w.technician_id %>, Location: <%= w.location.name%>, <%= w.location.city %>, Duration: <%= w.duration %>, Price:<%= w.price %></td>
          <% else %>
            <td> </td>
          <% end %>
          <% if w.technician_id ==3 %>
            <td><%= w.time.to_s(:due_time)%> Technician id: <%= w.technician_id %>, Location: <%= w.location.name%>, <%= w.location.city %>, Duration: <%= w.duration %>, Price:<%= w.price %></td>
          <% else %>
          <td> </td>
            <% end %>
          <% if w.technician_id ==4 %>
            <td><%= w.time.to_s(:due_time)%> Technician id: <%= w.technician_id %>, Location: <%= w.location.name%>, <%= w.location.city %>, Duration: <%= w.duration %>, Price:<%= w.price %></td>
          <% else %>
            <td> </td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
  
<% @time_of_day.each do |t| %>
  <%= t %>
<% end %>